html {
    background-color: grey;
}

h1 {
    display: flex;
    justify-content: center;
}

#move-container {
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 18px;
}

button {
    transform: scale(2.25);
}


div, .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 10px 10px;
    text-align: center;
}

.score {
    border: 2.5px solid black;
    padding: 5px;
}